body {
    background-color: rgb(252, 252, 252);
}

/*
.main-header {
    background-image: url(../image/cloud-sky.jpg);
}

.main-link {
    color: rgb(0, 127, 139);
    font-weight: 700;

}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}
*/
table tr td {
    font-size: medium;
    text-align: center;
    font-weight: ;
}