body {
    background-color: rgb(252, 252, 252);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    flex: 0 0 50px;
    /*or just height:50px;*/
    margin-top: auto;
}


.main-header {
    background-image: url(../image/cloud-sky.jpg);
}

.main-link {
    color: rgb(0, 127, 139);
    font-weight: 700;

}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: contain;
}

table tr td {
    font-size: medium;
    text-align: center;
    font-weight: 500;
}

.market_capital:before {
    content: '$';
}

/* News and sentiments cards style */
.card {
    width: 30%;
    margin: 18px;
    padding: none;
}


.card-img-top {

    object-fit: cover;
    border-radius: 15px, 0;
    margin-bottom: 8px;
}

/* Company details */
.annual_income_statement>li,
.quartely_income_statement>li,
.quartely_balanacesheet>li,
.annual_balancesheet>li,
.overview_body>li {
    list-style-type: square;
    justify-content: center;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.accordion-item {
    --bs-border-opacity: .10;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;

}