<title>Companies</title>
{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">

    <p class="mx-auto my-3 align-middle"><strong> The dataset contains over 21,000 records, if you want to
            search the company of your
            interest just start typing the name of the company and the result will get filtered out for your.</strong>
    </p>

    <div class="d-flex filter_company justify-content-center align-items-center">
        <label for="filter" class="me-2 align-middle"><strong> Search: </strong></label>
        <input type="text" class="filter" id="filter" placeholder="Type here to search" onkeyup="searchCompany()">
    </div>
    {% if pagination.pages %}
    {{pagination.links}}
    {% endif %}
    <div class=" d-flex table-responsive mt-4">
        <table id="all_companies"
            class="table table-responsive table-hover table-striped align-middle table-bordered mx-auto">
            <thead>
                <tr>

                    <th scope="col" class="text-center">S/N</th>
                    <th scope="col" class="text-center">Company Name</th>
                    <th scope="col" class="text-center">Ticker Symbol</th>
                    <th scope="col" class="text-center">Market Capital</th>
                    <th scope="col" class="text-center">Region</th>
                    <th scope="col" class="text-center">GICS Sector Name</th>
                    <th scope="col" class="text-center">Capital category</th>
                </tr>
            </thead>
            <tbody>

                {% for company in companies %}

                <tr>
                    <td>{{loop.index }}</td>
                    <td class="text-start" width="25%"> <a
                            href="{{url_for('view_company_details', company_id = company['company_id'])}}">{{company.company_name}}</a>
                    </td>

                    <td>{{company.ticker_symbol}}</td>
                    <td>{{company.market_capital|currencyFormat}}</td>
                    <td>{{company.region}}</td>
                    <td>{{company.sector_name}}</td>
                    <td>{{company.category}}</td>
                </tr>

                {% endfor %}
            </tbody>

        </table>

    </div>
    <div class="pagination">
        {% if pagination.pages %}
        {{pagination.links}}
        {% endif %}
    </div>
</div>

{% endblock %}