<title>Company Details</title>
{% extends 'base.html' %}

{% block body %}
<div class="container mt-4 ">
    <div class="accordion accordion-flush" id="accordionCompanyDetails">
        <div class="accordion-item border border-success">
            <div class="accordion-header" id="flush-headingOne">

                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h3> Overview</h3>
                </button>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class=" accordion-body justify-center">
                    <ul class="overview_body">
                        {% for key, value in overview.items() %}
                        {% if key == 'Description' %}
                        <p><strong>{{key}}:</strong> {{value}}</p>
                        {% else %}
                        <li>{{key}}: {{value}}</li>
                        {%endif%}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item border border-success border-top-0">
            <div class="accordion-header" id="flush-headingTwo">
                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h3> Income Statement</h3>
                </button>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <ul class="quartely_income_statement justify-center">
                        <p><strong> Recent Quarter Income Statement</strong></p>
                        {% for key, value in mrq_incomestatement.items() %}
                        <li>{{key}}: {{value}}</li>

                        {% endfor %}

                    </ul>
                    <ul class="annual_income_statement justify-center">
                        <p><strong>Most Recent Year Income Statement</strong></p>

                        {% for key, value in mry_incomestatement.items() %}
                        <li>
                            {% if key == "operatingExpenses" %}
                            {{key}}: {{value|currencyFormat}}
                            {% else %}
                            {{key}}: {{value}}
                            {% endif %}

                        </li>

                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
        <div class="accordion-item border border-success border-top-0">
            <div class="accordion-header" id="flush-headingTwo">
                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <h3> Balance Sheet</h3>
                </button>
            </div>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                    <ul class="quartely_balanacesheet justify-center">
                        <p><strong>Most Recent Quarter Balance Sheet</strong></p>
                        {% for key, value in mrq_balancesheet.items() %}
                        <li>{{key}}: {{value}}</li>

                        {% endfor %}

                    </ul>
                    <ul class="annual_balancesheet justify-center">
                        <p><strong> Most Recent Year Balance Sheet</strong></p>

                        {% for key, value in mry_balancesheet.items() %}
                        <li>{{key}}: {{value}}</li>

                        {% endfor %}

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}