<title>Company Details</title>
{% extends 'base.html' %}

{% block body %}
<div class="container mt-3 ">
    <h3 class="mx-auto my-3 text-center"> Fundamentals of {{company_name}}.</h3>
    <div class="accordion accordion-flush" id="accordionCompanyDetails">

        <div class="accordion-item border border-success">
            <div class="accordion-header" id="flush-headingOne">

                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <h3><i class="fa-regular fa-folder-open me-2"></i><em>Overview</em></h3>
                </button>
            </div>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionCompanyDetails">
                <div class=" accordion-body justify-center">
                    <ul class="overview_body col-md-6">
                        {% if overview is string %}
                        <p><strong> {{overview}}</strong></p>

                        {% else %}
                        {% for key, value in overview.items() %}
                        {% if key == 'Description' %}
                        <p><strong>{{key}}:</strong> {{value}}</p>
                        {% else %}
                        {% if value not in ("None", "none","0",0,"-")%}
                        {% if key in("MarketCapitalization", "EBITDA", "RevenueTTM", "GrossProfitTTM",
                        "SharesOutstanding") %}
                        <li class="list_items"> {{key}}: {{value|currencyFormat}}</li>
                        {% else %}
                        <li class="list_items">{{key}}: {{value}}</li>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item border border-success border-top-0">

            <div class="accordion-header" id="flush-headingTwo">
                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h3><i class="fa-regular fa-folder-open me-2"></i><em> Income Statement </em></h3>
                </button>
            </div>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionCompanyDetails">
                <div class="accordion-body row inc_statement d-flex">

                    <ul class="ul_left_padding quartely_income_statement col-12 col-md-6">
                        {% if mrq_incomestatement is string %}
                        <p><strong> {{mrq_incomestatement}}</strong></p>

                        {% else %}
                        <p><strong> Recent Quarter Income Statement</strong></p>
                        {% for key, value in mrq_incomestatement.items() %}
                        <!-- <li>{{key}}: {{value}}</li> -->
                        {% if value not in ("None", "none") %}
                        <li class="list_items">
                            {% if key in ("Ebit","ebit", "Ebitda", "ebitda")%}
                            {{ key|upper }}: {{value}}

                            {% elif (key not in ("fiscalDateEnding", "Fiscal Date Ending", "fiscal Date Ending",
                            "Reported
                            Currency", "reported Currency", "reportedCurrency")) %}
                            {{ key|capitalize }}: {{value|currencyFormat}}

                            {% elif key in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending", "Reported
                            currency", "reported Currency", "reportedCurrency") %}
                            {{ key|capitalize }}: {{value}}

                            {% endif %}

                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ul_left_padding annual_income_statement col-12 col-md-6">
                        {% if mry_incomestatement is string %}
                        <p><strong> {{mry_incomestatement}}</strong></p>

                        {% else %}
                        <p><strong> Recent Annual Income Statement</strong></p>
                        {% for key, value in mry_incomestatement.items() %}
                        {% if value not in ("None", "none") %}
                        <li class="list_items">
                            {% if key in ("Ebit","ebit", "Ebitda", "ebitda")%}
                            {{ key|upper }}: {{value}}

                            {% elif (key not in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending",
                            "Reported
                            currency", "reported Currency", "reportedCurrency")) %}
                            {{ key|capitalize }}: {{value|currencyFormat}}

                            {% elif key in ("fiscalDateEnding", "Fiscal Date Ending", "fiscal Date Ending", "Reported
                            Currency", "reported Currency", "reportedCurrency") %}
                            {{ key|capitalize }}: {{value}}

                            {% endif %}

                        </li>
                        {% endif %}
                        {% endfor %}

                        {% endif %}

                    </ul>

                </div>
            </div>
        </div>

        <div class="accordion-item border border-success border-top-0">
            <div class="accordion-header" id="flush-headingTwo">
                <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <h3><i class="fa-regular fa-folder-open" me-2></i> <em>Balance Sheet</em></h3>
                </button>
            </div>

            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionCompanyDetails">
                <div class="accordion-body row balancesheet d-flex">

                    <ul class="ul_left_padding quartely_balanacesheet col-12 col-md-6">

                        {% if mrq_balancesheet is string %}
                        <p><strong>{{mrq_balancesheet}}</strong></p>

                        {% else %}
                        <p><strong>Most Recent Quarter Balance Sheet</strong></p>

                        {% for key, value in mrq_balancesheet.items() %}

                        {% if value not in ("None", "none") %}
                        <li class="list_items">
                            {% if (key not in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending",
                            "Reported currency", "reported Currency", "reportedCurrency")) %}
                            {{ key|capitalize }}: {{value|currencyFormat}}
                            {% elif key in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending",
                            "Reported currency", "reported Currency", "reportedCurrency") %}
                            {{ key|capitalize }}: {{value}}
                            {% endif %}

                        </li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                    <ul class="ul_left_padding annual_balancesheet col-md-6">
                        {% if mry_balancesheet is string %}

                        <p><strong>{{mry_balancesheet}}</strong></p>

                        {% else %}
                        <p><strong> Most Recent Year Balance Sheet</strong></p>
                        {% for key, value in mry_balancesheet.items() %}
                        {% if value not in ("None", "none") %}

                        <li class="list_items">
                            <!-- {{key}}: {{value}} -->
                            {% if (key not in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending",
                            "Reported currency", "reported Currency", "reportedCurrency")) %}

                            {{ key|capitalize }}: {{value|currencyFormat}}

                            {% elif key in ("fiscalDateEnding", "Fiscal date ending", "fiscal Date Ending",
                            "Reported currency", "reported Currency", "reportedCurrency") %}
                            {{ key|capitalize }}: {{value}}
                            {% endif %}
                        </li>

                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="accordion-item border border-success">
                <div class="accordion-header" id="flush-headingFour">

                    <button class="btn-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <h3> <i class="fa-solid fa-radio me-2"></i> <em>Check market news</em></h3>
                    </button>
                </div>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionCompanyDetails">
                    <div class=" accordion-body justify-center">
                        <p><a href="{{url_for('news_and_sentiments')}}"><strong>Go to news</strong></a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}