<title>Companies</title>
{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h5 class="mx-auto my-3 text-center"><strong> Search for a company of your
            interest by typing the company name or it's ticker symbol, the data will get filtered out for
            you.</strong>
    </h5>
    <div class="filter_company me-5 d-flex justify-content-center align-items-center">
        <label for="filter" class="me-2 align-middle"><strong> Search: </strong></label>
        <input type="text" name="filter" class="filter" id="filter" placeholder="Type here to search"
            onkeyup="searchReginalCompany()">

    </div>
    <div id="reginal_companies" class="d-flex mx-auto table-responsive mt-4">
        <table id="all_companies" class="table table-responsive table-hover table-striped align-middle table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">S/N</th>
                    <th scope="col" class="text-center">Company Name</th>
                    <th scope="col" class="text-center">Ticker Symbol</th>
                    <th scope="col" class="text-center">Market Capital</th>

                </tr>
            </thead>
            <tbody>

                {% for company in companies %}

                <tr>
                    <td>{{loop.index}}</td>
                    <td class="text-start" onclick="userSearchCompany('{{company.id}}')"> <a
                            href="{{url_for('view_company_details',company_id=company.id)}}">{{company.company_name}}</a>
                    </td>
                    <td>{{company.ticker_symbol}}</td>
                    <td>{{company.market_capital|currencyFormat}}</td>
                </tr>

                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}