<title>GICS Sectors</title>
{% extends 'base.html' %}

{% block body %}
<div class="container my-4" data-role="page" id="pageone">
    <div data-role="header">
        <h1 class="mb-4">Global Industry Classification Standard (GICS)</h1>
    </div>
    <div data-role="main" class="ui-content">
        <div data-role="collapsible">
            <h3>GICS Sectors</h3>

            <div data-role="collapsible">
                <h3>Industry Groups</h3>
                <div data-role="collapsible">
                    <h3>Inustries</h3>
                    <div data-role="collapsible">
                        <h3>Sub-Inustries</h3>
                        <div data-role="collapsible">
                            <h3>Energy Equipment & Services</h3>
                            <div data-role="collapsible">
                                <p>Oil & Gas Drilling</p>
                                <p>Oil & Gas Equipment & Services</p>
                            </div>

                            <h3>Oil, Gas & Consumable Fuels</h3>
                            <div data-role="collapsible">
                                <p>Integrated Oil & Gas</p>
                                <p>Oil & Gas Exploration & Production</p>
                                <p>Oil & Gas Refining & Marketing</p>
                                <p>Oil & Gas Storage & Transportation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}