<title>Welecome</title>
{% extends 'base.html' %}

{% block body %}

<div class="container-fluid d-flex flex-wrap mt-4 ">
    <div class="card mx-auto">
        <img src="../static/image/bull markets.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">US Bull Market</h5>
            <p class="card-text">Knowing the market history and having a closer look to its trend gives a very good
                perspective<br>
                to the present. The major bull runs are the Post-War Boom, which occurred after the
                end of WWII,<br> the ’70s Growth, th Reagan Era,the Great Expansion which lasted 9.5 years, and the Hot
                Aughts.
            </p>

            <a href="https://www.visualcapitalist.com/visualizing-longest-bull-markets-modern-era/"
                class="btn btn-primary">Go to source</a>
        </div>
    </div>
    <div class="card mx-auto">
        <img src="../static/image/How long the bear with us.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">How long the bear stays</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go to source</a>
        </div>
    </div>
    <div class="card mx-auto mt-4">
        <img src="../static/image/recent bear markets in us.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>


{% endblock %}